body {
    font-family: Arial, sans-serif;
    background-color: #D8BFD8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
	color: #DDA0DD;
    text-align: center;
    padding: 20px;
    background-color: #E6E6FA;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.slot-machine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.slot {
    width: 80px;
    height: 80px;
    background-color: #FFFFE0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

button {
    background-color: #FFFFE0;
    color: #DDA0DD;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FFFACD;
}

#result {
    margin-top: 10px;
}

#message {
    margin-top: 10px;
    color: #DA70D6;
    font-weight: bold;
}
